.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.Board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
}

.set {

}

.dice{
  width: 30px;
  border: 1px solid black;
}
